@import "tailwindcss";

@theme {
  --color-background-primary: oklch(0.871 0.15 154.449);
  --color-green-black: oklch(0.266 0.065 152.934);
  --color-green-medium: oklch(0.527 0.154 150.069);
  --color-green-light: oklch(0.627 0.194 149.214);
}

html {

}

body {
  background-color: var(--color-background-primary);
}